* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    user-select: none;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #9FB5DE;
}

::-webkit-scrollbar-thumb {
    background-color: #6a7da1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5654ff;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    transition: 0.3s;
}

.homePage {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    animation-name: moveSlight;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-image: url(https://4kwallpapers.com/images/wallpapers/blue-background-abstract-background-windows-11-3840x2160-8846.jpg);
}

.headerHomePage {
    width: 100%;
    height: 10vh;
    position: sticky;
    background: radial-gradient(circle, rgba(225, 248, 250, 0.7) 0%, rgba(182, 250, 250, 0.7) 52%, rgba(191, 246, 255, 0.7) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid #9FB5DE;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 50px;
}

.cartMenu {
    z-index: 3;
    left: -100%;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-image: url(images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
    overflow-y: auto;
}

.mainCartMenu {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 25px;
    flex-direction: column;
}

.mainHomePage {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cartItem {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    border-radius: 20px;
    background: radial-gradient(circle, rgba(225, 248, 250, 0.7) 0%, rgba(182, 250, 250, 0.7) 52%, rgba(191, 246, 255, 0.7) 100%);
    border: 1px solid #9FB5DE;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.leftCartItem {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textItem {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 60px;
        color: #444;
        font-weight: 700;
    }

    p {
        font-size: 40px;
        color: #5dff86;
        font-weight: 700;
        text-shadow: #3bb65a 2px 2px 5px;
    }
}

.cartItemIcon {
    height: 80%;
    aspect-ratio: 1/1;
    background: #47469e;
    background: linear-gradient(45deg, rgba(71, 70, 158, 1) 1%, rgba(86, 84, 255, 1) 50%, rgba(137, 135, 250, 1) 100%);
    border-radius: 10px;
}

.rightCartItem {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    button {
        width: 40%;
        height: 30%;
        border-radius: 10px;
        border: none;
        color: #fff;
        font-size: 30px;
        font-weight: 500;
        cursor: pointer;
        transition: 0.2s;
    }

    button:hover {
        transform: scale(1.15);
        filter: brightness(1.15);
    }

    button:active {
        transform: scale(0.8);
        filter: brightness(0.8);
    }
}

#deleteBtn {
    background-color: #ff5454;
}

#buyBtn {
    background-color: #43ec6d;
}

.cartItemIcon {
    height: 80%;
    aspect-ratio: 1/1;
    background-color: #5654ff;
    background-image: url(https://timshop.timhortons.ca/cdn/shop/files/retro-logo-tshirt-back-1000px.png?v=1750349029&width=1000);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.headerCartMenu {
    width: 100%;
    height: 10vh;
    background: radial-gradient(circle, rgba(225, 248, 250, 0.7) 0%, rgba(182, 250, 250, 0.7) 52%, rgba(191, 246, 255, 0.7) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid #9FB5DE;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 50px;
}

.logo {
    position: relative;
    width: auto;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;

    p {
        position: relative;
        top: 7px;
    }
}

.sectionsHeader {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sectionBtn {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
    transition: 0.2s;
}

.sectionBtn:hover {
    .underline {
        width: 100%;
    }
}

.sectionBtn:active {
    transform: scale(0.7);
    filter: brightness(0.8);
}

.underline {
    width: 0%;
    height: 3px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.25s;
}

.btnDesign {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s;
    cursor: pointer;
}

.btnDesign:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px #ffffff);
}

.btnDesign:active {
    transform: scale(0.8);
    filter: brightness(0.8) drop-shadow(0 0 0 #ffffff);
}

.left {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textMenuMain {
    width: 80%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    background-color: rgba(66, 71, 97, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: rgba(110, 119, 173, 0.7) 1px solid;

    h2 {
        font-size: 100px;
        color: rgba(159, 175, 255, 0.7);
        font-weight: 800;
    }

    p {
        font-size: 40px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 300;
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .sectionsHeader {
        width: 60%;
    }

    .logo {
        width: 20%;
        font-size: 30px;
    }

    .mainHomePage {
        flex-direction: column;
    }

    .left {
        width: 100%;
        height: 50%;
    }

    .right {
        width: 100%;
        height: 50%;
    }
}

@media screen and (max-width: 800px) {

    .logo {
        display: none;
    }

    .sectionsHeader {
        width: 80%;
    }

    .sectionBtn {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {

    .sectionsHeader {
        width: 80%;
    }

    .sectionBtn {
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {

    .sectionsHeader {
        width: 80%;
    }

    .sectionBtn {
        font-size: 15px;
    }
}